* {
  margin: 0; /* Réinitialise la marge externe */
  padding: 0; /* Réinitialise le rembourrage */
  text-decoration: none; /* Supprime les décorations de texte par défaut (soulignement, etc.) */
  list-style: none; /* Supprime les puces des listes par défaut */
  box-sizing: border-box; /* Inclut la bordure et le rembourrage dans le calcul de la largeur et de la hauteur */
}

/* Style de base pour le corps du document avec une police générique "Times New Roman" */
body {
  font-family: "Times New Roman", Times, serif; /* Utilise une police générique pour le corps du document */
  background-image: url(forest-1072828_1280.jpg); /* Définit l'image de fond */
  background-size: cover; /* Étire l'image de fond */
}

header {
  min-height: 50vh; /* Définit la hauteur minimale de l'en-tête à 100% de la hauteur de la vue (viewport height) */
  width: 50vw; /* Définit la largeur de l'en-tête à 100% de la largeur de la vue (viewport width) */
}

/* Style pour la barre de navigation fixée en haut espacement interne */
.navbar {
  position: fixed; /* Fixe la barre de navigation en haut de la page */
  top: 0; /* Place la barre de navigation en haut de la page */
  left: 0; /* Place la barre de navigation à l'extrême gauche de la page */
  width: 100%; /* Définit la largeur de la barre de navigation à 100% de la largeur de la vue */
  z-index: 1000; /* Élévation pour s'assurer que la barre de navigation est au-dessus des autres éléments */
  padding: 10px; /* Ajoute un espacement interne de 10 pixels à la barre de navigation */
  display: flex; /* Utilise un modèle de boîte flexible pour aligner les éléments de la barre de navigation */
  justify-content: space-between; /* Répartit l'espace disponible entre les éléments de la barre de navigation */
  align-items: center; /* Centre verticalement les éléments de la barre de navigation */
  box-sizing: border-box; /* Inclut la bordure et le rembourrage dans le calcul de la largeur et de la hauteur */
  background-color: #014003;
}

/* Style des liens dans la barre de navigation avec une couleur de texte */
.navbar a {
  color: antiquewhite; /* Définit la couleur du texte des liens de la barre de navigation */
}

/* Style du logo de la barre de navigation avec une largeur fixe et une hauteur proportionnelle */
.navbar .logo {
  width: 10px; /* Définit une largeur fixe pour le logo */
  height: 10px; /* Définit une hauteur fixe pour le logo */
  display: block; /* Affiche le logo en tant que bloc */
  max-width: 100%; /* Empêche le logo de dépasser sa largeur maximale */
}

/* Style des liens de navigation dans la barre de navigation */
.navbar .nav-links {
  display: flex; /* Utilise un modèle de boîte flexible pour aligner les liens de navigation */
}

/* Style de la liste de liens de navigation dans la barre de navigation */
.navbar .nav-links ul {
  display: flex; /* Utilise un modèle de boîte flexible pour aligner les éléments de la liste de liens de navigation */
}

/* Style des éléments de la liste de liens de navigation dans la barre de navigation avec une marge à droite */
.navbar .nav-links ul li {
  margin: 0 25px; /* Ajoute une marge à droite aux éléments de la liste de liens de navigation */
}

/* Style du lien actif dans la barre de navigation avec une couleur et un poids de police spécifiques */
.navbar .nav-links ul .active a {
  color: gold; /* Définit la couleur du texte pour le lien actif */
  font-weight: 600; /* Définit un poids de police plus important pour le lien actif */
}

/* Style pour la section principale avec positionnement relatif */
.main {
  position: relative; /* Positionnement relatif pour les éléments enfants positionnés absolument */
}

/* Style pour la section de bienvenue avec positionnement absolu, centrage et justification du texte */
.bienvenu-section {
  position: relative; /* Positionnement relatif pour les éléments enfants positionnés absolument */
  text-align: justify; /* Justifie le texte à l'intérieur de la section de bienvenue */
  color: antiquewhite; /* Définit la couleur du texte */
  max-width: 1000px; /* Définit une largeur maximale pour la section de bienvenue */
  margin: 0 auto; /* Centre la section de bienvenue horizontalement en utilisant la marge automatique */
}

/* Style pour la section d'images avec positionnement absolu, affichage en ligne et défilement horizontal */
.image-section {
  position: absolute; /* Positionnement absolu par rapport à son conteneur parent */
  display: flex; /* Utilise un modèle de boîte flexible pour aligner les images */
  justify-content: space-around; /* Répartit l'espace autour des images */
  align-items: center; /* Centre verticalement les images */
  flex-wrap: wrap; /* Permet aux images de passer à la ligne lorsque l'espace est insuffisant */
  margin-top: 20px; /* Ajoute une marge en haut de la section d'images */
  overflow-x: auto; /* Ajoute une barre de défilement horizontale en cas de dépassement du conteneur */
  white-space: nowrap; /* Empêche le renvoi à la ligne du texte à l'intérieur de la section d'images */
}

/* Style pour les images avec bordure arrondie, largeur et hauteur fixes, marges à droite et en bas */
img {
  border-radius: 50%; /* Ajoute une bordure arrondie aux images */
  width: 200px; /* Définit une largeur fixe pour les images */
  height: 200px; /* Définit une hauteur fixe pour les images */
  margin-right: 50px; /* Ajoute une marge à droite aux images */
  margin-bottom: 50px; /* Ajoute une marge en bas aux images */
  opacity: 0.75;
}

h1 {
  text-align: center;
  color: antiquewhite;
}

.page-end footer li a {
  text-decoration: none; /* Supprime la soulignement par défaut des liens */
  color: white; /* Couleur du texte des liens */
}

.page-end p {
  margin-top: 5px; /* Ajout d'une marge au-dessus du paragraphe */
}

.page-end {
  display: flex; /* Utilise le modèle de boîte flexible */
  flex-direction: column; /* Ajuste la direction de la colonne */
  align-items: center; /* Centre les enfants sur l'axe transversal (verticalement) */
  justify-content: center; /* Centre les enfants sur l'axe principal (horizontalement) */
  color: white; /* Couleur du texte blanc */
  text-align: center; /* Ajout pour centrer le texte dans le footer */
Ò
  /* Bloque le div en bas de la page */
  position: fixed; /* Fixe le positionnement du div à la fenêtre du navigateur */
  bottom: 0; /* Place le div en bas de la fenêtre du navigateur */
  left: 0; /* Place le div tout à gauche de la fenêtre du navigateur */
  right: 0; /* Place le div tout à droite de la fenêtre du navigateur */
  background-color: #014003; /* Couleur de fond bleue */
  padding: 10px; /* Ajoute un peu de rembourrage pour le style */
}